{% extends "base.html" %}

{% block title% }Login{% endblock %}

{% block content %}
    <div class="container">
	<h1>Login</h1>
	{% from 'bootstrap5/form.html' import render_form %}
	<form method="post" action="{{ url_for('submit') }}" novalidate>
		{{ form.csrf_token() }}
		{{ render_field(form.email(size=30)) }}
		{{ render_field(form.password) }}
		{{ render_field(form.submit) }}
	</form>

			<p>{{ form.email.label}} <br> {{ form.email(size=30) }}</p>

			<p>
				{% for error in form.email.errors %}
					<span style="color:red">{{ error }}</span>
				{% endfor %}
			</p>

			<p>{{ form.password.label}} <br> {{ form.password(size=30) }}</p>
			<p>
				{% for error in form.password.errors %}
					<span style="color:red">{{ error }}</span>
				{% endfor %}
			</p>

			<p>{{ form.submit.label}} <br> {{ form.submit(size=30) }}</p>
			
		</form>
        </div>
	</body>
</html>